<article class="entry box-item format-gallery zoomable ur-three columns">
	<div class="box-wrap">
		<figure class="entry-thumb flexslider zoomable">
			<ul class="slides">
				<li>
					<a data-fancybox-group="p1" class="fancybox" href="bundles/lovephrasesapp/images/dummy/pic4.jpg">
						<img src="bundles/lovephrasesapp/images/dummy/pic4.jpg" alt="">
					</a>
				</li>
				<li>
					<a data-fancybox-group="p1" class="fancybox" href="bundles/lovephrasesapp/images/dummy/pic2.jpg">
						<img src="bundles/lovephrasesapp/images/dummy/pic2.jpg" alt="">
					</a>
				</li>
				<li>
					<a data-fancybox-group="p1" class="fancybox" href="bundles/lovephrasesapp/images/dummy/pic3.jpg">
						<img src="bundles/lovephrasesapp/images/dummy/pic3.jpg" alt="">
					</a>
				</li>
			</ul>

			<div class="overlay"></div>
		</figure>

		<div class="entry-meta">
			<a class="love-btn" href="" title="Click to love this"><span class="love-no">12</span></a>
			<a class="comment-no" href=""  title="14 Comments">14</a>
			<a class="permalink" href="">Permalink</a>
		</div>
	</div>
</article>