<article class="entry box-item format-image zoomable ur-three columns">
	<div class="box-wrap">
		<figure class="entry-thumb zoomable">
			<a class="fancybox" href="bundles/lovephrasesapp/images/dummy/pic5.jpg">
				<img src="bundles/lovephrasesapp/images/dummy/pic5.jpg" alt="">
			</a>

			<div class="overlay"></div>
		</figure>

		<div class="entry-meta">
			<a class="love-btn" href="" title="Click to love this"><span class="love-no">12</span></a>
			<a class="comment-no" href=""  title="14 Comments">14</a>
			<a class="permalink" href="">Permalink</a>
		</div>
	</div>
</article>