<article class="entry box-item format-standard ur-three columns">
	<div class="box-wrap">

		<div class="link-container">
			<a href="http://www.cssigniter.com" target="_blank">http://www.cssigniter.com</a>
		</div>

		<div class="entry-meta">
			<a class="love-btn" href="" title="Click to love this"><span class="love-no">12</span></a>
			<a class="comment-no" href=""  title="14 Comments">14</a>
			<a class="permalink" href="">Permalink</a>
		</div>
	</div>
</article>