<article class="entry box-item format-standard ur-three columns">
	<div class="box-wrap">

		<div class="quote-text">
			<blockquote cite="http://www.brainyquote.com/quotes/authors/a/albert_einstein.html">
				<p>It's not that I'm so smart, it's just that I stay with problems longer.</p>
				<cite><a href="http://www.brainyquote.com/quotes/authors/a/albert_einstein.html">Albert Einstein</a></cite>
			</blockquote>
		</div>

		<div class="entry-meta">
			<a class="love-btn" href="" title="Click to love this"><span class="love-no">12</span></a>
			<a class="comment-no" href=""  title="14 Comments">14</a>
			<a class="permalink" href="">Permalink</a>
		</div>
	</div>
</article>